@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.input-color{
    display:block;
    height:36px;
    position: relative;
    font-size:16px;
    &:before{
        content:'\e5c5';
        font-family:'Material icons';
        position: absolute;
        color:#808080;
        font-size:1.5em;
        right:0;
        top:50%;
        transform: translateY(-50%);
    }
    >input{
        background:0;
        border:0;
        border-bottom:solid 2px;
        padding:0 0 0 30px;
        width:100%;
        height:100%;
        cursor: pointer;
        font-size:0.9em;
        letter-spacing: 1px;
        user-select:none;
        cursor:pointer;
    }
    input:focus{
        outline:none;
    }
    label{
        display:block;
        position:absolute;
        top:50%;
        transform:translateY(-50%);
        left:3px;
        width:17px;
        height:17px;
        cursor: pointer;
        border-radius:3px;
        border:solid 1px #616161;
    }
}

.color-picker.default{
    --background:#dddddd;
    --input-background:#ffffff;
    --color:#000000;
    --menu-active-a:#7a7a7a;
    --menu-active-b:#ffffff;
}

.color-picker.dark{
    --background:#2b2b2b;
    --input-background:#646464;
    --color:#dddddd;
    --menu-active-a:#000000;
    --menu-active-b:#7a7a7a;
}

.color-picker{
    display:flex;
    flex-wrap:wrap;
    width:251px;
    position:absolute;
    left:0;
    z-index:1000;
    background-color:var(--background);
    border-radius:0 0 5px 5px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    font-size:16px;
}

.color-palette, .saved-colors{
    width:100%;
    height:200px;
    display:flex;
    flex-wrap:wrap;
    overflow:auto;
    padding:0 5px;
    align-content: flex-start;
}

.color{
    flex-basis:10%;
    height:10%;
    cursor:pointer;
}

.picker{
    display:flex;
}

.color-picker-a{
    margin:0 5px;
}

.color-picker-a, .color-picker-b{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    &:hover{
        cursor:crosshair;
    }
}

.mw-cp{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:999;
}

.picker-container{
    width:200px;
    height:36px;
    position: relative;
    margin:0 0 10px 0;
}

.picker-menu{
    list-style:none;
    display:flex;
    flex-flow:row nowrap;
    width:100%;
    margin:5px 0 5px 0;
    color:#303030;
    li{
        display:flex;
        justify-content: center;
        align-content: center;
        align-items:center;
        flex-basis:100%;
        height:36px;
        cursor:pointer;
        font-size:1.5em;
        &::before{
            font-family:'Material Icons';
            color:var(--color);
        }
        &#picker::before{
            content:'\e40a';
        }
        &#color-palette::before{
            content:'\e42a';
        }
        &#saved-colors::before{
            content:'\e192';
        }
        &#random-color::before{
            content:'\e043';
        }
        &.active{
            border:solid 2px;
            border-top-color:var(--menu-active-a);
            border-left-color:var(--menu-active-a);
            border-bottom-color:var(--menu-active-b);
            border-right-color:var(--menu-active-b);
        }
    }
}

.picker, .color-palette, .saved-colors{
    display:none;
    &.active{
        display:flex;
    }
}

.color-code-rgb, .color-code-hex{
    border:0;
    height:33px;
    font-size:0.9em;
    width:100%;
    padding:0 0 0 5px;
    border-radius:2px;
    box-shadow:2px 2px 2px 0 rgba(0,0,0,.35);
    background-color:var(--input-background);
    color:var(--color);
}

.start-color, .current-color{
    height:36px;
}

.start-color{
    border-radius:2px 2px 0 0;
}

.current-color{
    border-radius:0 0 2px 2px;
}

.color-values{
    margin:5px 5px 10px 5px;
    flex-basis:calc(70% - 15px);
    display:flex;
    align-content: space-between;
    flex-wrap:wrap;
}

.color-preview{
    flex-basis: 30%;
    margin:5px 5px 10px 0;
}

.cancel-color, .select-color{
    border:0;
    background:0;
    height:36px;
    padding:0 16px;
    font-size:.75em;
    font-weight: 700;
    letter-spacing:.5px;
    cursor:pointer;
    color:var(--color);
    text-transform: uppercase;
    width:50%;
    user-select:none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}