*, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body,html{
    height:100%;
    font-size:16px;
    background-color:#eeeeee;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

button{
    background:0;
    border:0;
    cursor:pointer;
}

h3{
    font-size:2rem;
    margin:15px 0;
}

h4{
    font-size:1.5rem;
    margin:15px 0;
}

p{
    margin:10px 0;
}

.download{
    display:inline-block;
    padding:12px;
    background-color:#2980b9;
    color:#ffffff;
    text-decoration:none;
    border-radius:3px;
    transition: filter ease .2s;
    &:hover{
        filter:brightness(1.1);
    }
}

.input-color{
    width:300px;
}

.hidden{
    display:none;
}

.container{
    height:100%;
    display:grid;
    grid-template:66px auto 56px/100%;
}

.page-header{
    background-color:#1a689c;
    color:#ffffff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 15px;
    .menu-open{
        font-size:2.5rem;
        color:#ffffff;
    }
}

main{
    padding:15px;
}

.page-navigation{
    position:fixed;
    z-index:999;
    transform: translateX(-110%);
    top:0;
    left:0;
    height:100vh;
    width:200px;
    background-color:#ffffff;
    box-shadow:3px 0 3px 2px rgba(0,0,0,.35);
    transition:transform ease-in-out .3s;
    &.menu-opened{
        transform: translateX(0);
    }
    header{
        height:66px;
        background-color:#0f5b8d;
        display:flex;
        align-items:center;
        padding:0 15px;
    }
    .menu-close{
        font-size:2.5rem;
        color:#ffffff;
    }
    ul{
        list-style:none;
        display:flex;
        flex-flow:column nowrap;
        padding:15px;
        li{
            margin:0 0 15px 0;
        }
        a{
            color:#4169e1;
            text-decoration: none;
            &:hover{
                text-decoration:underline;
            }
        }
    }
}

.page-footer{
    background-color:#202020;
    line-height:56px;
    text-align:center;
    p{
        font-size:0.9rem;
        color:rgba(255,255,255,0.5);
        margin:0;
    }
}

.input-color{
    margin:20px 0;
}

.on-change-demo{
    width:300px;
    height:150px;
    border:solid 2px;
    font-size:3rem;
    line-height:150px;
    text-align: center;
}

@media(min-width:1023px){
    .container{
        grid-template:66px auto 56px/200px auto;
        grid-template-areas: 'header header' 'menu content' 'footer footer';
    }

    .page-header{
        grid-area:header;
        .menu-open{
            display:none;
        }
    }

    .page-navigation{
        grid-area:menu;
        display:block;
        position:static;
        transform: initial;
        height:100%;
        header{
            display:none;
        }
    }

    .page-footer{
        grid-area:footer;
    }

    main{
        grid-area:content;
    }
}

@media(min-width:1319px){
    main{
        padding:20px 200px;
    }
}

@media(min-width:1919px){
    main{
        padding:20px 300px;
    }
}